// Key Position Definitions
#pragma once

// Left Hand
// Numbered Top to Bottom, Left to Right (Outside to Inside)
// Row 1
#define LH00 0
#define LH01 1
#define LH02 2
#define LH03 3
#define LH04 4
#define LH05 5
#define LH06 6
// Row 2
#define LH10 7
#define LH11 8
#define LH12 9
#define LH13 10
#define LH14 11
#define LH15 12
#define LH16 13
// Row 3
#define LH20 14
#define LH21 15
#define LH22 16
#define LH23 17
#define LH24 18
#define LH25 19
#define LH26 20
// Row 4
#define LH30 23
#define LH31 24
#define LH32 25
#define LH33 26
#define LH34 27
#define LH35 28
// Row 5
#define LH40 30
#define LH41 31
#define LH42 32
#define LH43 33
#define LH44 34
// Thumbs
// Row 1
#define LT00 21
#define LT01 22
// Row 2
#define LT10 29
// Row 3
#define LT20 35
#define LT21 36
#define LT22 37

// Right Hand
// Numbered Top to Bottom, Right to Left (Outside to Inside)
// Row 1
#define RH00 44
#define RH01 43
#define RH02 42
#define RH03 41
#define RH04 40
#define RH05 39
#define RH06 38
// Row 2
#define RH10 51
#define RH11 50
#define RH12 49
#define RH13 48
#define RH14 47
#define RH15 46
#define RH16 45
// Row 3
#define RH20 60
#define RH21 59
#define RH22 58
#define RH23 57
#define RH24 56
#define RH25 55
#define RH26 54
// Row 4
#define RH30 67
#define RH31 66
#define RH32 65
#define RH33 64
#define RH34 63
#define RH35 62
// Row 5
#define RH40 75
#define RH41 74
#define RH42 73
#define RH43 72
#define RH44 71
// Thumbs
// Row 1
#define RT00 53
#define RT01 52
// Row 2
#define RT10 61
// Row 3
#define RT20 70
#define RT21 69
#define RT22 68

// Grouped Definitions
#define KEYS_L  LH00 LH01 LH02 LH03 LH04 LH05 LH06 \
                LH10 LH11 LH12 LH13 LH14 LH15 LH16 \
                LH20 LH21 LH22 LH23 LH24 LH25 LH26 \
                LH30 LH31 LH32 LH33 LH34 LH35      \
                LH40 LH41 LH42 LH43 LH44

// For use with rmt_gui's hold-trigger-key-positions
// Homerow GUI hold-tap is on the Colemak N position
// "NR" is a common bigram
// CMD-R is a common shortcut that is annoying to accidentally trigger in the
// web browser.
// Remove Colemak R position
#define KEYS_L_GUI_SAFE  LH00 LH01 LH02 LH03 LH04 LH05 LH06 \
                         LH10 LH11 LH12 LH13 LH14 LH15 LH16 \
                         LH20 LH21      LH23 LH24 LH25 LH26 \
                         LH30 LH31 LH32 LH33 LH34 LH35      \
                         LH40 LH41 LH42 LH43 LH44

#define THUMBS_LEFT       LT00 LT01 \
                               LT10 \
                     LT20 LT21 LT22

#define KEYS_R  RH06 RH05 RH04 RH03 RH02 RH01 RH00 \
                RH16 RH15 RH14 RH13 RH12 RH11 RH10 \
                RH26 RH25 RH24 RH23 RH22 RH21 RH20 \
                     RH35 RH34 RH33 RH32 RH31 RH30 \
                          RH44 RH43 RH42 RH41 RH40

// For use with lmt_gui's hold-trigger-key-positions
// Homerow GUI hold-tap is on the Colemak T position
// "TH" & "TO" are common bigrams
// CMD-H & CMD-O are common shortcuts that are annoying to accidentally trigger
// Remove Colemak H, & O positions
#define KEYS_R_GUI_SAFE  RH06 RH05 RH04 RH03 RH02 RH01 RH00 \
                         RH16 RH15 RH14 RH13 RH12 RH11 RH10 \
                         RH26      RH24 RH23 RH22      RH20 \
                              RH35 RH34 RH33 RH32 RH31 RH30 \
                                   RH44 RH43 RH42 RH41 RH40

#define THUMBS_RIGHT  RT01 RT00 \
                      RT10 \
                      RT22 RT21 RT20

// For use with lmt_ctrl's hold-trigger-key-positions
// Homerow CTRL hold-tap is on the Colemak A position
// "A" is commonly rolled with "SPACE", which is the Mac shortcut to change
// keyboard input sources (i.e. QWERTY to Colemak). This is annoying to
// accidentally trigger.
// Remove SPACE positions
#define THUMBS_RIGHT_CTRL_SAFE  RT01 RT00 \
                                RT10 \
                                RT22      RT20
